body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  padding: 40px;
  text-align: center;
}

#typedText {
  width: 400px;
  height: 100px;
  font-size: 16px;
  margin-top: 20px;
  display : block;
}

#result {
  margin-top: 30px;
  font-size: 18px;
}

#restartBtn, #historyBtn, #clearBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
